div.profile {
    display: inline-block;
    background-color:#1d8fc7;
    width: 15vw;
    text-align: center;
    margin-right: 10vw;
    margin-top: 15px;
    margin-left: 1vw;
    border-style: solid;
    border-color: #8a8a8a;
    border-width: 3px;
    vertical-align: top;
    border-radius: 10px;
  }

div.bank {
    display: inline-block;
    background-color:#1d8fc7;
    vertical-align: top;
    width: 20vw;
    margin-top: 15px;
    margin-right: 26vw;
    text-align: center;
    border-style: solid;
    border-color: #8a8a8a;
    border-width: 3px;
    border-radius: 10px;
}

div.requests {
    display: inline-block;
    background-color:#1d8fc7;
    vertical-align: top;
    width: 11vw;
    margin-top: 15px;
    margin-right: 1.95vw;
    text-align: center;
    border-style: solid;
    border-color: #8a8a8a;
    border-width: 3px;
    border-radius: 10px;
}

div.friends {
    display: inline-block;
    background-color:#1d8fc7;
    vertical-align: top;
    width: 10vw;
    margin-top: 15px;
    margin-right: 1vw;
    text-align: center;
    border-style: solid;
    border-color: #8a8a8a;
    border-width: 3px;
    border-radius: 10px;
}

a.logout {
    color: white;
    font-size: 19px;
    text-decoration: none;
    display: block;
    
}
  
a.logout:hover{
    color: #767676;
}

img.pfp {
    height: 75px;
    display: block;
    border-style: solid;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 0px;
    border-color: #8a8a8a;
    border-width: 3px;
}

img.banner {
    height: 100vh;
    width: 98.5vw;
    position: fixed;
    z-index: -1;
    border-style: solid;
    border-width: 3px;
    border-color: #8a8a8a;
}

form {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    input {
        width: 80%;
        margin-top: 5px;
        background-color: #8a8a8a;
        color: white;
        border-style: solid;
        border-width: 2px;
        border-color: white;
        border-radius: 5px;
    }
    label{
        margin-bottom: 0px;
        display: block;
    }
    input[type="submit"]{
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
        cursor: pointer;
        transition: box-shadow, width 0.5s ease-in-out;
    }
    input[type="submit"]:hover{
        width: 85%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    }
    select{
        width: 80%;
        margin-top: 5px;
        background-color: #8a8a8a;
        color: white;
        border-style: solid;
        border-width: 2px;
        border-color: white;
        border-radius: 5px;
        text-align: center;
    }
    
}

p.form{
    display: block;
    color: white;
}