.bets {
    float: left;
}

div.bets {
    vertical-align: top;
    float: left;
    color: white;
    background-color: #1d8fc7;
    padding: 5px 20px;
    border-style: solid;
    border-color: #8a8a8a;
    border-width: 3px;
    margin: 10px;
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
}