div.game {
    position: absolute;
    right: 45vw;
    text-align: center;
    width: 10vw;
    border-style: solid;
    border-color: rgb(11, 88, 11);
    border-width: 3px;
    margin: 3%;
}

div.dealer_hand {
    position: absolute;
    right: 1%;
    text-align: center;
    width: 30%;
    border-style: solid;
    border-color: rgb(11, 88, 11);
    border-width: 3px;
}

img#thumbnail {
    width: 100px;
    border-style: solid;
    border-color: rgb(11, 88, 11);
    border-width: 0px;
    border-bottom-width: 3px;
}

img.card {
    height:100px;
}

div{
    justify-self: center;
}

div#grid{
    display:grid;
    grid-template-areas: 
        "bets dealer ."
        ". dealer-hand ."
        "hand-0 none hand-1"
        "actions-0 actions-all actions-1";
}
.bets{
    grid-area: bets;
}
p.welcome{
    text-align: center;
}
div#dealer-hand{
    grid-area:dealer-hand;
}
div#hand-0{
    grid-area:hand-0;
}
div#hand-1{
    grid-area:hand-1;
}
.actions>button{
    width: 100%;
}
div#actions-0{
    grid-area:actions-0;
}
div#actions-1{
    grid-area:actions-1;
}
div#actions-all{
    grid-area: actions-all;
}
div#dealer{
    grid-area: dealer;
}