div.nav {
    display: flex;
    height:75px;
    background-color:green;
    position: fixed;
    width: 98.5%;
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: rgb(11, 88, 11);
    border-width: 3px;
  }



ul.nav {
    justify-self: left;
    list-style-type: none;
    margin-left: 38px;
    padding-top: 3%;
    padding-bottom: 3%;
    overflow: hidden;
    position: fixed;
    z-index: 1;
}
  
ul.account {
    right: 0;
    list-style-type: none;
    margin-right: 38px;
    overflow: hidden;
    position: fixed;
    text-align: right;
    z-index: 0;
}
    
  
li.nav {
    justify-self: left;
    display: inline-block;
}
  
li.account {
    display: block;
}
  
a.nav {
    display: inline;
    color: gold;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 28px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    font-size: 19px;
}

a.account {
  color: gold;
  font-size: 19px;
  text-decoration: none;
}

a.account:hover{
  color: rgb(174, 13, 13);
}
  
a.nav:hover{
    background-color: rgb(174, 13, 13);
}
  
img.logo {
    height: 75px;
    display: inline;
    border-style: solid;
    border-color: rgb(11, 88, 11);
    border-right-width: 3px;
    border-left-width: 0px;
}
  
img.account {
    right: 0;
    height: 75px;
    display: inline;
    border-style: solid;
    border-color: rgb(11, 88, 11);
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-left-width: 3px;
}