div.nav {
    display: flex;
    height:75px;
    background-color: #1d8fc7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: #8a8a8a;
    border-width: 0px;
    border-bottom-width: 3px;
  }

div.pfphelper {
    max-height: 100%;
    position: absolute;
    right: 0;
}


ul.nav {
    justify-self: left;
    list-style-type: none;
    margin-left: 38px;
    padding-top: 5%;
    padding-bottom: 5%;
    overflow: hidden;
    position: fixed;
    z-index: 1;
}
  
ul.account {
    list-style-type: none;
    overflow: hidden;
    display: inline-block;
    text-align: right;
    z-index: 0;
}
    
  
li.nav {
    justify-self: left;
    display: inline;
}
  
li.account {
    display:block;
}
  
a.nav {
    display: inline;
    color: white;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 28px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    font-size: 19px;
}

a.account {
  color: white;
  font-size: 19px;
  text-decoration: none;
}

a.account:hover{
  color: #7a7a7a;
}
  
a.nav:hover{
    background-color: #7a7a7a;
}
  
img.logo {
    height: 75px;
    display: inline;
    border-style: solid;
    border-color: #8a8a8a;
    border-right-width: 3px;
    border-left-width: 0px;
}
  
img.account {
    height: 75px;
    display: inline;
    border-style: solid;
    border-color: #8a8a8a;
    border-width: 0px;
    border-left-width: 3px;
}