html {background-color:green;}

div.block {
  height:80px;
}

div.welcome {
  width: 40%;
  background-color: #1d8fc7;
  border-style: solid;
  border-color: #8a8a8a;
  border-width: 3px;
  border-radius: 10px;
}

div.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #767676, #1d8fc7);
  z-index: -1;
}

h1.welcome {
  display: block;
  color: white;
  font-size: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

h2.welcome {
  display: block;
  color: white;
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

p.welcome {
  display: block;
  color: white;
  font-size: 19px;
  margin-left: 15px;
  margin-right: 15px;
}