html {background-color:#1d8fc7;}

div.block {
  height:80px;
}

div.welcome {
  width: 40vw;
  background-color: #1d8fc7;
  border-style: solid;
  border-color: #8a8a8a;
  border-width: 3px;
  border-radius: 10px;
}

div.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, #dadada, #86d7ff);
  z-index: -1;
}

h1.welcome {
  display: block;
  color: white;
  font-size: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

h2.welcome {
  display: block;
  color: white;
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

p.welcome {
  display: block;
  color: white;
  font-size: 19px;
  margin-left: 15px;
  margin-right: 15px;
}