{% extends 'Corruption_Cove/base.html' %}
{% load static %}
{% load mathfilters %}

{% block title_block %}
Account
{% endblock %}

{% block body_block %}
<link rel="stylesheet" type="text/css" href= "{% static 'account.css' %}">

<img class="banner" src ="{{ account.banner.url }}" >
<div class="profile">
    <p class="welcome">{{ account.name }}<br>
    <img class="pfp" src="{{ account.pfp.url }}">
    Top Bets:<br>
    {% if topbets %}
    {% for bet in topbets %}
    {{bet.game}}: {{bet.amount|mul:personalRate}}<br>
    {% endfor %}
    {% endif %}

    Recent Bets:<br>
    {% if recentbets %}
    {% for bet in recentbets %}
    {{bet.game}}: {{bet.amount|mul:personalRate}}<br>
    {% endfor %}
    {% endif %}
    </p><br>
    {% if account == request.user.profile %}
    <a class="logout" href="{% url 'corruption-cove-casino:logout' %}">Logout</a><br>
    {% endif %}
</div>

<div class="bank">
    <h1 class="welcome">Banking:</h1>
    {% if banks %}
        <h2 class="welcome">Current Balance:</h1>
        <p id="balance" class="welcome">{{ banking.balance|mul:personalRate }}
        {% if account.banking.balance < 0 %}
            <br>
            You are in debt, you can keep playing, but your debt will grow.
            We recommend requesting money from a friend, or depositing more.
            <br>
        {% endif %}
        </p>
        <p class="welcome"><strong>Deposit here:</strong></p>
        <input type="text" id="deposit_form" placeholder="Enter deposit value">
        <button onclick="deposit()">Deposit</button>
        <script>
            function deposit(){
                var depositValue = document.getElementById("deposit_form").value;
                if(depositValue < 0){
                    alert("You can't deposit a negative value.");
                    return;
                }
                var request = {"depositValue": depositValue}
                $.get("{% url 'corruption-cove-casino:deposit'  %}", request, function(output) {
                    $("#balance").html(output);
                })
            }
        </script>
    {% else %}
        <p class="welcome">Add a Bank Card:</p>
        <a href="{% url 'corruption-cove-casino:add_card' user_slug=request.user.profile.slug %}">Add Card</a>
        <!-- <form id="bank_form" method="post" action="{% url 'corruption-cove-casino:account' user_slug=user.profile.slug %}"
        enctype="multipart/form-data">

        {% csrf_token %}
        {{ bank_form.as_p }}
        
        <input type="submit" name="submit" value="Add Card" />
        </form> -->
    {% endif %}
</div>

<div class="requests">
    <h1 class="welcome">Requests:</h1>
    <p class="welcome">
        {% if request.user.profile == account %}
            {% if requests %}
                {% for x in requests %}
                    {{ x.name }}:<br>
                    {{ x.amount|mul:personalRate}} {{ request.user.profile.currency }}<br>
                    accept/decline buttons. both delete request, accept transfers money.
                {% endfor %}
            {% endif %}
    </p>    
            {% else %}
                <form id="request_form" method="post" action="{% url 'corruption-cove-casino:account' user_slug=account.slug %}"
                    enctype="multipart/form-data">

                    {% csrf_token %}
                    <p class="form">
                        <label>Amount:</label>
                        <input type="number" name="amount" step="any" required="">
                        <input type="submit" name="submit_r" value="Send Request" />
                    </p>
                </form>
        {% endif %}
</div>

<div class="friends">
    <h1 class="welcome">Friends:</h1>
    {% if friends %}
        {% for friend in friends %}
        <a class="logout" href="{% url 'corruption-cove-casino:account' user_slug=friend.slug %}">{{ friend.name }}</a>
        {% endfor %}
    {% endif %}
    
    {% if request.user.profile.slug != account.slug and not friend_exists %}
        <form id="friend_form" method="post" action="{% url 'corruption-cove-casino:account' user_slug=account.slug %}"
            enctype="multipart/form-data">

            {% csrf_token %}
            {{ friend_form.as_p }}

            <input type="submit" name="submit_f" value="Add Friend" />
        </form>
    {% endif %}
</div>
{% endblock %}