{% extends 'Corruption_Cove/base.html' %}
{% load static %}

{% block title_block %}
Account
{% endblock %}

{% block body_block %}
<link rel="stylesheet" type="text/css" href= "{% static 'account.css' %}">

<img class="banner" src ="{{ account.banner.url }}" >
<div class="profile">
    <p class="welcome">{{ account.name }}<br>
    <img class="pfp" src="{{ account.pfp.url }}">
    Top Bets:<br>
    {% if topbets %}
    {% for bet in topbets %}
    {{bet.game}}: {{bet.amount}}<br>
    {% endfor %}
    {% endif %}

    Recent Bets:<br>
    {% if recentbets %}
    {% for bet in recentbets %}
    {{bet.game}}: {{bet.amount}}<br>
    {% endfor %}
    {% endif %}
    </p><br>
    {% if account == request.user.profile %}
    <a class="logout" href="{% url 'corruption-cove-casino:logout' %}">Logout</a><br>
    {% endif %}
</div>

<div class="bank">
    {% if banking %}
    <h1 class="welcome">Current Balance:</h1><br>
    <p class="welcome">{{ banking.balance }}<br>
    {% if account.banking.balance < 0 %}
    You are in debt, you can keep playing, but your debt will grow.
    We recommend requesting money from a friend, or depositing more.
    {% endif %}
    <p class="welcome"><strong>Deposit here:</strong></p><br />
    <form id="deposit_form" method="post" action="{% url 'corruption-cove-casino:deposit' user_slug=user.profile.slug %}"
    enctype="multipart/form-data">

        {% csrf_token %}
        {{ deposit_form.as_p }}

        <input type="submit" name="submit" value="Deposit" />
    </form>
    {% else %}
        <form id="bank_form" method="post" action="{% url 'corruption-cove-casino:account' user_slug=user.profile.slug %}"
        enctype="multipart/form-data">

        {% csrf_token %}
        {{ bank_form.as_p }}
        
        <input type="submit" name="submit" value="Add Card" />
        </form>
    {% endif %}
    
    </p>
</div>

<div class="requests">
    <h1 class="welcome">Requests:</h1>
    <p class="welcome">
        {% if request.user.profile == account %}
        {% if requests %}
        {% for x in requests %}
        {{ x.name }}:<br>
        {{ x.amount }} {{ request.user.profile.currency }}<br>
        accept/decline buttons. both delete request, accept transfers money.
        {% endfor %}
        {% endif %}

        {% else %}
        <p class="welcome">Ask for Money:</p>
        <form id="request_form" method="post" action="{% url 'corruption-cove-casino:account' user_slug=user.profile.slug %}"
        enctype="multipart/form-data">

        {% csrf_token %}
        {{ request_form.as_p }}
        
        <input type="submit" name="submit" value="Send Request" />
        </form>
        </p>
        {% endif %}
</div>

<div class="friends">
    <h1 class="welcome">Friends:</h1>
    {% if friends %}
        {% for friend in friends %}
        <a class="logout" href="{% url 'corruption-cove-casino:account' user_slug=friend.slug %}">{{ friend.name }}</a>
        {% endfor %}
    {% endif %}
    
    {% if request.user.profile.slug != account.slug and not friend_exists %}
        <form id="friend_form" method="post" action="{% url 'corruption-cove-casino:account' user_slug=account.slug %}"
        enctype="multipart/form-data">

        {% csrf_token %}
        {{ friend_form.as_p }}

        <input type="submit" name="submit" value="Add Friend" />
        </form>
        </p>
    {% endif %}
</div>
{% endblock %}