
        <p>
        <label for="id_name">Name:</label>
        <input type="text" name="name" maxlength="40" required="" id="id_name">
        </p>
        <p>
        <label for="id_cardNo">Cardno:</label>
        <input type="password" name="cardNo" required="" id="id_cardNo">
        </p>
        <p>
        <label for="id_expiry">Expiry:</label>
        <input type="password" name="expiry" required="" id="id_expiry">
        </p>
        <p>
        <label for="id_cvv">Cvv:</label>
        <input type="password" name="cvv" required="" id="id_cvv">
        </p>
        <p>
        <label for="id_balance">Balance:</label>
        <input type="number" name="balance" step="any" required="" id="id_balance">
        </p>