<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href= "{% static 'styles.css' %}">

<html>
    <head>
        <title>
            Corruption Cove Casino - 
            {% block title_block %}
            {% endblock %}
        </title>
        <script src="{% static "js\jquery-3.3.1.min.js" %}" crossorigin="anonymous"></script>
        <script src="{% static "js\ccc-query.js" %}" crossorigin="anonymous"></script>
    </head>
    <body>
        {% include 'Corruption_Cove/nav.html' %}
        <div class="block">
        </div>
        <div class="gradient">
        </div>
        {% block body_block %}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script>let csrftoken = '{{ csrf_token }}'</script>
    </body>

    <script>
        endpoint = 'latest'
        var access_key = '';

        var currency = currencies['{{request.user.profile.currency}}'];


        $.ajax({
            url: 'https://api.exchangeratesapi.io/v1/' + endpoint + '?access_key=' + access_key + '&symbols= & symbols = USD,AUD,EUR,JPY,MXN',
            dataType: 'jsonp',
            success: function(json) {

                //euros to pounds
                defualtConvert = json.rates.GBP

                //pounds to currency
                personalRate = defaultConvert/json.rates[currency]

            }
        });
    </script>

</html>