{% extends 'Corruption_Cove/base.html' %}
{% load static %}

{% block title_block %}
Blackjack
{% endblock %}

{% block body_block %}
<link rel="stylesheet" type="text/css" href= "{% static 'blackjack.css' %}">
<script>
let api_url = "{% url 'corruption-cove-casino:blackjack_api' dealer.name  %}";
let cards_url = "{%static 'images/cards'%}";
</script>
<script src="{% static 'js/blackjack.js'%}"></script>


<div id="grid">
    <div id="dealer">
        <img id="thumbnail" src="{{ dealer.face.url }}">
        <p class="welcome">{{dealer.name}}</p>
    </div>
    {% include 'Corruption_Cove/bets.html' %}

<div id="dealer-hand">
    <img class="card" src="{% static 'images/cards/back.png' %}">
</div>

<div id="hand-0">
    <img class="card" src="{% static 'images/cards/back.png' %}">
    <img class="card" src="{% static 'images/cards/back.png' %}">
</div>

<div id="hand-1">

</div>
<div class='actions' id="actions-all">
    {% for action,action_name in actions.all %}

    <button id="{{action}}_all" disabled onclick="do_action('{{action}}',0)">{{action_name}}</button> <br>

    {% endfor %}
    <button id="how-to" data-href="{% url 'corruption-cove-casino:howToPlay' gameType='blackjack' %}" onclick="window.open(this.dataset.href, 'how-to-play', 'width=600,height=520,toolbar=no,scrollbars=yes,resizable=yes'); return false;">
    How to play blackjack?
    </button>
    <la id="bet-amount-label">Bet amount: </la><input type="number" name="bet_amount" id="bet_amount" min="1" value=100 max="1000">
</div>
<div class='actions' id="actions-0">
    {% for action,action_name in actions.0 %}

    <button id='{{action}}_0' disabled onclick="do_action('{{action}}',0,'{{personalRate}}')">{{action_name}}</button> <br>

    {% endfor %}
</div>

<div class='actions' id="actions-1">
    {% for action,action_name in actions.1 %}

    <button id='{{action}}_1' disabled onclick="do_action('{{action}}',1, '{{personalRate}}')">{{action_name}}</button> <br>

{% endfor %}
</div>
</div>

<p id="display"></p>
{% endblock %}