{% extends 'Corruption_Cove/base.html' %}
{% load static %}

{% block title_block %}
Account
{% endblock %}

{% block body_block %}

{% for action in actions.all %}

<button onclick="do_action('{{action}}',0)">{{action}}</button> <br>

{% endfor %}

{% for action in actions.0 %}

<button onclick="do_action('{{action}}',0)">{{action}} 0</button> <br>

{% endfor %}

{% for action in actions.1 %}

<button onclick="do_action('{{action}}',1)">{{action}} 1</button> <br>

{% endfor %}


<p id="display"></p>

<script>
    fetch("{% url 'corruption-cove-casino:blackjack_api' %}")
        .then(data=>data.json())
        .then(data=>display_state(data));
    function display_hand(hand){
        return hand?.map(card=> card.join("")).join(",");
    }
    function display_state(state){
        console.log(state);
        hands = state.hands;
        dealer_hand = state.dealer_hand;
        bet = JSON.stringify(state.bets);
        document.getElementById('display').innerHTML = `Your hands: ${hands?.map(hand=>display_hand(hand)).join('<br>')} <br> Dealer hand: ${display_hand(dealer_hand)} <br> Your bet: ${bet}`;
    }
    function do_action(action,hand_no){
        console.log(action);
        fetch("{% url 'corruption-cove-casino:blackjack_api' %}",{method:'post',headers:{'X-CSRFToken':csrftoken},body:JSON.stringify(
            {action:action,hand_no:hand_no,bet:{amount:100}}
        )})
        .then(res=> res.json())
        .then(json=>display_state(json));
    }
    </script>
{% endblock %}