{% extends 'Corruption_Cove/base.html' %}
{% load static %}

{% block title_block %}
Blackjack
{% endblock %}

{% block body_block %}
<link rel="stylesheet" type="text/css" href= "{% static 'blackjack.css' %}">



<div id="grid">
    <div id="dealer">
        <img id="thumbnail" src="{{ dealer.face.url }}">
        <p class="welcome">{{dealer.name}}</p>
    </div>
    {% include 'Corruption_Cove/bets.html' %}

<div id="dealer-hand">
    <img class="card" src="{% static 'images/cards/back.png' %}">
</div>

<div id="hand-0">
    <img class="card" src="{% static 'images/cards/back.png' %}">
    <img class="card" src="{% static 'images/cards/back.png' %}">
</div>

<div id="hand-1">

</div>
<div class='actions' id="actions-all">
    {% for action,action_name in actions.all %}

    <button id="{{action}}_all" disabled onclick="do_action('{{action}}',0)">{{action_name}}</button> <br>

    {% endfor %}
    <la id="bet-amount-label">Bet amount: </la><input type="number" name="bet_amount" id="bet_amount" min="1" value=100 max="1000">
</div>
<div class='actions' id="actions-0">
    {% for action,action_name in actions.0 %}

    <button id='{{action}}_0' disabled onclick="do_action('{{action}}',0)">{{action_name}}</button> <br>

    {% endfor %}
</div>

<div class='actions' id="actions-1">
    {% for action,action_name in actions.1 %}

    <button id='{{action}}_1' disabled onclick="do_action('{{action}}',1)">{{action_name}}</button> <br>

{% endfor %}
<button data-href="{% url 'corruption-cove-casino:howToPlay' gameType='blackjack' %}" onclick="window.open(this.dataset.href, 'how-to-play', 'width=600,height=520,toolbar=no,scrollbars=yes,resizable=yes'); return false;">
    How to play blackjack?
</button>
</div>
</div>

<p id="display"></p>

<script>
    fetch("{% url 'corruption-cove-casino:blackjack_api' dealer.name  %}")
        .then(data=>data.json())
        .then(data=>display_state(data));
    function display_hand(hand,id){
        document.getElementById(id).innerHTML = "";
        for(card of hand){
            document.getElementById(id).innerHTML += `<img class="card" src="{%static 'images/cards'%}/${card[0]+card[1]}.png"">`
        }
        return hand?.map(card=> card.join("")).join(",");
    }
    function display_state(state){
        console.log(state);
        hands = state.hands;
        dealer_hand = state.dealer_hand;
        bet = JSON.stringify(state.bets);
        document.querySelectorAll('.actions>button').forEach(button=>button.setAttribute('disabled',true));
        Object.entries(state.valid_actions)
            .forEach(entry=>entry[1].forEach(action=>document.getElementById(`${action}_${entry[0]}`).removeAttribute('disabled')));
        document.getElementById('hand-0').innerHTML="";
        document.getElementById('hand-1').innerHTML="";
        for (let i = 0; i < hands.length; i++) {
            display_hand(hands[i],`hand-${i}`);
        }
        display_hand(dealer_hand,'dealer-hand');
        if(state.finished){
            setTimeout(()=>alert(`You won ${state.winnings}`),500);
        }
    }
    function do_action(action,hand_no){
        console.log(action);
        fetch("{% url 'corruption-cove-casino:blackjack_api' dealer.name %}",{method:'post',headers:{'X-CSRFToken':csrftoken},body:JSON.stringify(
            {action:action,hand_no:hand_no,bet:{amount:parseInt(document.getElementById('bet_amount').value)}}
        )})
        .then(res=> res.json())
        .then(json=>display_state(json));
    }
    </script>
{% endblock %}