{% extends 'Corruption_Cove/base.html' %}
{% load static %}

{% block title_block %}
Games
{% endblock %}
    
{% block body_block %}
<link rel="stylesheet" type="text/css" href= "{% static 'games.css' %}">

<div class="blackjack">
    <h1 class="welcome">Blackjack</h1>
    {% for dealer in dealers %}
    <div class="game">
        <img class="thumbnail" src="{{ dealer.face.url }}" onclick='redirectToPageB("{{dealer.name}}")'>
        <a class="game" href="{% url 'corruption-cove-casino:blackjack' dealer=dealer.name %}">{{dealer.name}}</a>
    </div>
    {% endfor %}
</div>

<div class="roulette">
    <h1 class="welcome">Roulette</h1>
    <div class="roulette_game">
        <img class="thumbnail" src="{% static 'images/thumbnail_roulette.png' %}" onclick='redirectToPageR()'>
        <a class="game" href="{% url 'corruption-cove-casino:roulette' %}">Roulette</a>
    </div>
</div>

<div class="slots">
    <h1 class="welcome">Slots</h1>
    {% for machine in slots %}
    <div class="game">
        <img class="thumbnail" src="{{ machine.directory }}/thumbnail.png" onclick='redirectToPageS("{{machine.theme}}")'>
        <a class="game" href="{% url 'corruption-cove-casino:slots' machine=machine.theme %}">{{machine.name}}</a>
    </div>
    {% endfor %}
</div>

<script>
    function redirectToPageB(dealerName) {
        var url = '/corruption-cove-casino/games/blackjack/' + dealerName;
        window.location.href = url;
    }

    function redirectToPageR() {
        var url = '/corruption-cove-casino/games/roulette/';
        window.location.href = url;
    }

    function redirectToPageS(machineName) {
        var url = '/corruption-cove-casino/games/slots/' + machineName;
        window.location.href = url;
    }
</script>

{% endblock %}