{% extends 'Corruption_Cove/base.html' %}
{% load static %}

{% block title_block %}
Roulette
{% endblock %}
    
{% block body_block %}
<link rel="stylesheet" type="text/css" href= "{% static 'roulette.css' %}">

    <div class="bets">
        TBA
    </div>

    <div class="grid-container">
        <div class="bet-zero">0</div>
        <div class="bet-1">1</div>
        <div class="bet-2">2</div>  
        <div class="bet-3">3</div>
        <div class="bet-4">4</div>
        <div class="bet-5">5</div>
        <div class="bet-6">6</div>
        <div class="bet-7">7</div>  
        <div class="bet-8">8</div>
        <div class="bet-9">9</div>
        <div class="bet-10">10</div>
        <div class="bet-11">11</div>
        <div class="bet-12">12</div>
        <div class="bet-13">13</div>
        <div class="bet-14">14</div>
        <div class="bet-15">15</div>
        <div class="bet-16">16</div>
        <div class="bet-17">17</div>
        <div class="bet-18">18</div>  
        <div class="bet-19">19</div>
        <div class="bet-20">20</div>
        <div class="bet-21">21</div>
        <div class="bet-22">22</div>
        <div class="bet-23">23</div>  
        <div class="bet-24">24</div>
        <div class="bet-25">25</div>
        <div class="bet-26">26</div>
        <div class="bet-27">27</div>
        <div class="bet-28">28</div>
        <div class="bet-29">29</div>
        <div class="bet-30">30</div>
        <div class="bet-31">31</div>
        <div class="bet-32">32</div>
        <div class="bet-33">33</div>
        <div class="bet-34">34</div>
        <div class="bet-35">35</div>
        <div class="bet-36">36</div>
        <div class="bet-row1">2:1</div>
        <div class="bet-row2">2:1</div>  
        <div class="bet-row3">2:1</div>
        <div class="bet-1st">1st 12</div>
        <div class="bet-2nd">2nd 12</div>
        <div class="bet-3rd">3rd 12</div>
        <div class="bet-low">1-18</div>  
        <div class="bet-even">Even</div>
        <div class="bet-red">Red</div>
        <div class="bet-black">Black</div>
        <div class="bet-odd">Odd</div>
        <div class="bet-high">19-36</div>        
    </div>
{% endblock %}