{% extends 'Corruption_Cove/base.html' %}
{% load static %}

{% block title_block %}
Roulette
{% endblock %}
    
{% block body_block %}
{{bet_data | json_script:"bet-data"}}
<link rel="stylesheet" type="text/css" href= "{% static 'roulette.css' %}">

    {% include 'Corruption_Cove/bets.html' %}

    <div class="roulette_images">
        <img class="base_roulette" src="{% static '/images/base_roulette.png' %}" alt="" width="384" height="384">
        <div class="wheel_roulette">
            <img src="{% static '/images/wheel_roulette.png' %}" alt="" width="384" height="384">
            <img class="ball_roulette" src="{% static '/images/ball_roulette.png' %}" alt="" width="384" height="384">
        </div>
    </div>

    <div class="controls">
        <div class="grid-container">
            {% for bet in bet_data %}
            <div onclick="addBetValue('{{bet.type}}')" class="{{bet.type}}">{{bet.name}}</div>
            {% endfor %}
        </div>
        <div class="position-bets">
            <button onclick="validate()">Start Ball</button>
            <button data-href="{% url 'corruption-cove-casino:howToPlay' gameType='roulette' %}" onclick="window.open(this.dataset.href, 'how-to-play', 'width=600,height=520,toolbar=no,scrollbars=yes,resizable=yes'); return false;">
                How to play roulette?
            </button>
            <div>
                <div class="bet-display" id="bet-info">
                    You have placed:<br>
                    No bets so far!
                </div>
            </div>
            <button class='button-clear' onclick="clearBet()">Clear Bets</button>
        </div>
    </div>

    <script>
        let play_roulette_url = "{% url 'corruption-cove-casino:play_roulette' %}";
        let roulette_ball_url = "{% static '/images/ball_roulette_alt.png' %}";
    </script>
    <script src="{% static 'js/roulette.js' %}"></script>
{% endblock %}